<!DOCTYPE html>
{% load staticfiles %}
<head>
  <title>MiniCooper</title>
  <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom_css.css' %}" rel="stylesheet">
  {% block css_block %}{% endblock %}
</head>

<body>
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">MiniCooper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">

        {% if request.user.is_superuser %}
        <li>
          <a class="nav-link" href="{% url 'template_creator' %}">Create Template</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'templateManager' %}">Manage</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %}

      </ul>
    </div>

      <ul class="nav navbar-nav navbar-right">

        <li>
          <a class="nav-link" href="{% url 'auth_logout' %}?next=/">Log Out</a>
        </li>

        {% endif %}
      </ul>

  </nav>
  {% block body_block %} {% endblock %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'js/jquery-3.3.1.js'%}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
  {% block script_block %}{% endblock %}
</body>
