{% extends 'mcwebapp/base.html' %}
{%load staticfiles%}
{% block css_block %}{% endblock %}

{% block body_block %}

<div class="container-fluid mt-3 ml-4">
  <h1 class="ml-3">Template Creator</h1>
  <div class="col-md-7 mx-auto" style="background-color: #999999; overflow:hidden;">

    <div class="row my-4 justify-content-md-center">
      <canvas id="the-canvas"></canvas>
    </div>
    <button id="upload_btn" class="btn btn-danger order-3 float-sm-right mb-3" style="position:relative;">Upload PDF</button>

    <input id="file-input" type="file" name="name" style="display: none;" />
  </div>
</div>
{% endblock %}

{% block script_block %}
<script src="{% static 'js/pdf_js/build/pdf.js' %}"></script>
<script src="{% static 'js/creator_script.js' %}"></script>
{% endblock %}
