<html>
<head
  <title>Json Output <br> </title>
  <style type="text/css">
    table {
        border: 1px solid #777;
        border-collapse: collapse;
    }

    table tr th,
    table tr td {
        border: 1px solid #777;
    }
    </style>
</head>
<body>


    <!-- <<h1> {{json.name}} </h1> -->
    <a href= "{{ json.file_name.url }}" class="JSONFile"> {{json.file_name.name}} </a>
    <div id="datalist"></div>

    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/json_view.js"></script>
</body>
</html>
