{% extends 'mcwebapp/base.html' %}
{%load staticfiles%}
{% block css_block %}{% endblock %}

{% block body_block %}
    <div class="container">
        <h2>Template Manager</h2>
        <!-- create table and loop through all jsons to fill it in according to needed data -->

            <form class="form-inline my-2 my-lg-0" action="{% url 'searchTemplates' %}" method="get">
                <div class="input-group">
                    <input required name="search-bar" type="text" class="form-control"
                           placeholder="Search for templates">

                </div>
            </form>


        {% if elems %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Template</th>
                    <th>Upload Date</th>
                    <th>User</th>
                </tr>
                </thead>
                <tbody>

                {% for elem in elems %}
                    <tr>
                        <td><a href="{{ elem.file_name.url }}">{{elem.name}}</a></td>
                        <td>{{ elem.upload_date }}</td>
                        <td>{{ elem.user.username  }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- paginator business -->
            {% if elems.has_other_pages %}
                <ul class="pagination">
                    {% if elems.has_previous %}
                        <li><a href="?page={{ elems.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in elems.paginator.page_range %}
                        {% if elems.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if elems.has_next %}
                        <li><a href="?page={{ elems.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
            You are out of luck! There is no data to display! <br/>


        {% endif %}
    </div>
{% endblock %}

{% block script_block %}{% endblock %}
